.background {
   position: absolute;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.493);
}

.background::-webkit-scrollbar {
   display: none;
}

.popUp {
   z-index: 20;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   position: relative;
   top: 20%;
   padding-bottom: 20px;
   margin-bottom: 30px;
   animation: pop-up 1s ease forwards;
}

@keyframes pop-up {
   0% {
      transform: scale(0);
   }
   60% {
      transform: scale(0.8);
   }
   100% {
      transform: scale(1);
   }
}

.popUp-inner {
   display: flex;
   flex-direction: column;
   position: relative;
   padding: 20px 10px;
   width: 50%;
   justify-content: center;
   height: max-content;
   text-align: center;
   background-color: rgb(245, 245, 245);
}

.popUp-inner::-webkit-scrollbar {
   display: none;
}

@media (max-width:760px) {
   .popUp {
      top: 0px;
   }
   .popUp-inner {
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 10px;
      width: 87%;
   }
}

@media (max-width:1200px)and (min-width:760px) {
   .popUp-inner {
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 10px;
      width: 90%;
   }
}