
.node {
   cursor: pointer;
   width: 24px;
   height: 20px;
   padding: 2px;
   border: 1px solid rgba(0, 0, 0, 0.37);
   transition: all 0.2s ease-in-out;
}
.node-wall{
   background-color: black;
}
.node-finish{
   background-color: green;
}
.node-start{
   background-color: red;
}
.node-visited{
   animation-name: visited;
  animation-duration: 4s;
  background-color: rgb(243, 188, 206);
}

@keyframes visited {
   from {   background-color: rgb(189, 189, 245);
   }
  to {
   background-color: rgb(243, 188, 206);
  }
 }
 
.node-shortes-path{
   background-color: yellow;
   animation-name: shortes-path;
   animation-duration: 4s;
}

@keyframes shortes-path {
   from {   background-color: rgb(241, 170, 15);
   }
  to {
   background-color: yellow;
  }
 }

.node:hover{
   background-color: cadetblue;
   transform: scale(1.02);
}