.options {
   flex: 2;
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   position: relative;
   top: 10px;
   height: max-content;
   margin: 10px;
   border-radius: 10px;
   border: 1px solid rgba(128, 128, 128, 0.582);
   box-shadow: -1px 10px 10px gray;
}

.controller {
   display: flex;
   flex-direction: column;
}

.controller:first-child {
   font-weight: 600;
   text-align: center;
}

.speed-controller {
   display: flex;
   padding: 4px;
}

.hint {
   padding: 0px 4px;
   font-weight: 600;
}

.extra-options {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 4px;
}

.cleaning-funct {
   cursor: pointer;
   padding: 5px;
   margin: 5px;
   text-align: center;
   font-weight: 600;
   border-radius: 20px;
   box-shadow: -1px 5px 5px gray;
   background-color: rgba(15, 189, 224, 0.692);
   transition: all 200ms ease-in-out;
}

.cleaning-funct:hover, .button:hover {
   transform: scale(1.09);
   background-color: lavender;
   color: crimson;
}

.button {
   padding: 7px;
   background-color: rgba(2, 0, 36, 0.822);
   text-align: center;
   color: wheat;
   font-weight: 600;
   font-size: 18px;
   border-radius: 10px;
   cursor: pointer;
   transition: all 200ms ease-in-out;
   box-shadow: -1px 5px 5px gray;
   margin-bottom: 10px;
   margin-top: 10px;
}

@media (max-width:760px) {


   .options {
      flex: 1;
      align-items: center;
      top: 10px;
   }

   .extra-options {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 2px;
   }

   .cleaning-funct {
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0.4px;
   }

   .button {
      padding: 6px;
      font-weight: 500;
      letter-spacing: 0.6px;
      font-size: 15px;
   }
}

.disable {
   display: none;
}

.speed {
   padding: 2px 20px;
   word-wrap: break-word;
   font-size: 15px;
   font-weight: 600;
   margin-top: 10px;
   margin-right: 20px;
   letter-spacing: 0.4px;
}

.tooltiptext {
   background-color: black;
   color: #fff;
   display: none;
   width: max-content;
   text-align: center;
   border-radius: 6px;
   font-size: 9px;
   letter-spacing: 1px;
   padding: 5px 6px;
   z-index: 1;
   position: relative;
   left: 28%;
   top: -30px;
}

.tooltip:hover .tooltiptext {
   visibility: visible;
}

@media (max-width:900px) {


   .tooltiptext {
      display: none;
   }
}

@media (min-width:760px) and (max-width:1000px) {
   .speed {
      font-size: 0.8rem;
   }

   .hint {
      font-size: 0.6rem;
   }

   .body {
      position: relative;
      top: 29px;
      justify-content: flex-start;
   }
}